@use "../utils/mixins";
@use "../utils/variables";

.modal {
    .card {
        border: 0;
    }
}

.modal {
    .modal-content {
        border: 0;
        box-shadow: variables.$box-shadow-sm;
        border-radius: 8px;
    }

    .modal-title {
        font-size: variables.$font-size-20;
        font-weight: variables.$font-weight-bold;

        @include mixins.respond-below(lg) {
            font-size: variables.$font-size-16;
        }
    }

    .logo-lg {
        img {
            width: 150px;
        }
    }

    .modal-header {
        border-bottom: 1px solid variables.$border-color;
        padding: 15px 20px;

        .close,
        .btn-close {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            justify-content: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            color: variables.$danger-700;
            opacity: 1;
            font-size: variables.$font-size-12;
            width: 19px;
            height: 20px;
            border: 0;
            font-weight: variables.$font-weight-bold;
            background-color: variables.$gray-500;
            background-image: none;
            @include mixins.rounded(50px);
            color: variables.$white;
            padding: 0;
            margin: 0;

            &:hover {
                background-color: variables.$danger;
                color: variables.$white;
            }
        }
    }

    .modal-body {
        padding: 20px;

        p {
            font-size: 16px;
            font-weight: 400;
            color: variables.$gray-900;
        }

        .close-btn {
            width: 100%;

            a {
                width: 100%;
            }
        }

        .upload-frames {
            .outer-frames {
                border: 2px dashed variables.$primary;
                border-radius: 50%;
                position: relative;
                margin-right: 16px;
                .frames {
                    background-color: variables.$dark-transparent;
                    border: 1px solid variables.$dark-transparent;
                    border-radius: 50%;
                    width: 72px;
                    height: 72px;
                    margin: 5px;
                }

                .frame-add {
                    border: 2px solid variables.$white;
                    position: absolute;
                    background-color: variables.$primary;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 4px;
                    bottom: 0;
                    right: 0;

                    i {

                        color: variables.$white;
                    }
                }
            }

           
            .profile-upload{
                .profile-content{
                    margin-bottom: 8px;
                    p{
                        font-weight: variables.$font-weight-medium;
                        margin-bottom: 4px;
                    }
                    span{
                        font-size: 13px;
                        color: variables.$gray-500;
                    }
                }
                .drag-upload-btn {
                    font-size: 12px;
                    font-weight: 600;
                    background: variables.$primary;
                    border: 1px solid variables.$primary;
                    border-radius: 5px;
                    margin: 0 12px 10px 0;
                    padding:8px 16px 8px 16px;
                    position: relative;
                    transition: all 0.5s;
                    color: variables.$white;
                    input {
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
                .btn-outline-primary{
                    padding: 8px 16px 8px 16px;
                    font-size: 13px;
                }
            }
        }
    }

    .modal-footer {
        border-top: none;
        justify-content: flex-start;
        .btn {
            margin: 0;
        }

        .btn-secondary {
            background: variables.$secondary;
            &:hover {
                @include mixins.box-shadow(inset, 0, 0px, 0px, 100px, variables.$white);
                color: variables.$secondary !important;
            }
        }
    }

    .note-editor.note-frame.card {
        border: 1px solid rgba(0, 0, 0, .2) !important;
    }
}

.modal-content {
    .modal-header {
        justify-content: space-between;

        .custom-btn-close {
            width: 20px;
            height: 20px;
            @include mixins.rounded(50%);
            background-color: variables.$gray-500;
            color: variables.$white;
            margin: 0;
            padding: 0;
            background-image: none;

            &:hover {
                background-color: variables.$danger;
            }
        }
    }
}

.modal-btn {
    .btn {
        padding: 5px 20px;
    }
}

.modal {
    &.animated .modal-dialog {
        transform: translate(0, 0);
    }

    &.effect-scale {
        .modal-dialog {
            transform: scale(0.7);
            opacity: 0;
            transition: all 0.3s;
        }

        &.show .modal-dialog {
            transform: scale(1);
            opacity: 1;
        }
    }

    &.effect-slide-in-right {
        .modal-dialog {
            transform: translateX(20%);
            opacity: 0;
            transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
        }

        &.show .modal-dialog {
            transform: translateX(0);
            opacity: 1;
        }
    }

    &.effect-slide-in-bottom {
        .modal-dialog {
            transform: translateY(20%);
            opacity: 0;
            transition: all 0.3s;
        }

        &.show .modal-dialog {
            transform: translateY(0);
            opacity: 1;
        }
    }

    &.effect-newspaper {
        .modal-dialog {
            transform: scale(0) rotate(720deg);
            opacity: 0;
        }

        &.show~.modal-backdrop,
        .modal-dialog {
            transition: all 0.5s;
        }

        &.show .modal-dialog {
            transform: scale(1) rotate(0deg);
            opacity: 1;
        }
    }

    &.effect-fall {
        -webkit-perspective: 1300px;
        -moz-perspective: 1300px;
        perspective: 1300px;

        .modal-dialog {
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transform: translateZ(600px) rotateX(20deg);
            opacity: 0;
        }

        &.show .modal-dialog {
            transition: all 0.3s ease-in;
            transform: translateZ(0px) rotateX(0deg);
            opacity: 1;
        }
    }

    &.effect-flip-horizontal {
        perspective: 1300px;

        .modal-dialog {
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transform: rotateY(-70deg);
            transition: all 0.3s;
            opacity: 0;
        }

        &.show .modal-dialog {
            transform: rotateY(0deg);
            opacity: 1;
        }
    }

    &.effect-flip-vertical {
        perspective: 1300px;

        .modal-dialog {
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transform: rotateX(-70deg);
            transition: all 0.3s;
            opacity: 0;
        }

        &.show .modal-dialog {
            transform: rotateX(0deg);
            opacity: 1;
        }
    }

    &.effect-super-scaled {
        .modal-dialog {
            transform: scale(2);
            opacity: 0;
            transition: all 0.3s;
        }

        &.show .modal-dialog {
            transform: scale(1);
            opacity: 1;
        }
    }

    &.effect-sign {
        perspective: 1300px;

        .modal-dialog {
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transform: rotateX(-60deg);
            transform-origin: 50% 0;
            opacity: 0;
            transition: all 0.3s;
        }

        &.show .modal-dialog {
            transform: rotateX(0deg);
            opacity: 1;
        }
    }

    &.effect-rotate-bottom {
        perspective: 1300px;

        .modal-dialog {
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transform: translateY(100%) rotateX(90deg);
            transform-origin: 0 100%;
            opacity: 0;
            transition: all 0.3s ease-out;
        }

        &.show .modal-dialog {
            transform: translateY(0%) rotateX(0deg);
            opacity: 1;
        }
    }

    &.effect-rotate-left {
        perspective: 1300px;

        .modal-dialog {
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transform: translateZ(100px) translateX(-30%) rotateY(90deg);
            transform-origin: 0 100%;
            opacity: 0;
            transition: all 0.3s;
        }

        &.show .modal-dialog {
            transform: translateZ(0px) translateX(0%) rotateY(0deg);
            opacity: 1;
        }
    }
}



#delete-modal {
    .modal-dialog {
        max-width: 400px;

        .delete-icon {
            width: 60px;
            height: 60px;
            @include mixins.rounded(5px);
            margin: 0 auto 24px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            justify-content: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            background: variables.$danger-100;
            color: variables.$danger;
            font-size: variables.$font-size-40;
        }

        h4 {
            font-size: variables.$font-size-20;
            margin-bottom: 5px;
        }

        p {
            margin-bottom: 24px;
        }
    }
}

.custom-modal {
    .modal-header {
        justify-content: space-between;
        align-items: center;
    }
}

.modal-header {
    .badge {
        box-shadow: none;
    }
}