@use "../utils/variables";

.login-bg2 {
    background: linear-gradient(180deg, #6338F6 0%, #3A2190 100%);
}
.login-bg1 {
    background: linear-gradient(134.21deg, #FFFFFF 2.18%, #EFEBFF 74.65%);
}
.login-img {
    width: 90%;
}
.floating-bg {
    img {
        position: absolute;
        &:nth-child(1){
            top: 40px;
            // top: 40px;
            // left: 50%;
            // transform: translateX(-50%);
        }
        &:nth-child(2){
            width: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
            // display: none;
        }
        &:nth-child(3){
            bottom: 60px;
            right: 300px;
        } 
        &:nth-child(4){
            bottom: 30px;
            right: 100px;
        } 
        &:nth-child(5){
            top: 20px;
            right: 50px;
        } 
        &:nth-child(6){
            top: 20px;
            left: 50px;
        } 
        &:nth-child(7){
            right: 136px;
            bottom: 80px;
        } 
        &:nth-child(8){
            bottom: 100px;
            left: 90px;
        }
    }
    
}
.floating-avatar {
    .avatar {
        position: absolute;
        &:nth-child(1){
            width: 60px !important;
            height: 60px !important;
            top: 40px;
            right: 100px;
        }
        &:nth-child(2){
            width: 50px !important;
            height: 50px !important;
            top: 80px;
        }
        &:nth-child(3){
            width: 70px !important;
            height: 70px !important;
            bottom: 20px;
            left: 160px;
        }
        &:nth-child(4){
            width: 30px !important;
            height: 30px !important;
            bottom: 50px;
            right: 170px;
            transform: rotate(-45deg);
        }
    }
}
.login-or {
    text-align: center;
    font-weight: 500;
    position: relative;
    &::before {
        width: 100%;
        content: "";
        border-top: 1px solid variables.$dark-transparent;
        position: absolute;
        top: 50%;
        left: 0;
    }
    &::after {
        width: 100%;
        content: "";
        border-top: 1px solid variables.$dark-transparent;
        position: absolute;
        top: 50%;
        right: 0;
    }
    .span-or {
        background-color: #FFF;
        padding: 0 20px;
        z-index: 9;
        position: relative;
    }
}
.bg-soft-success {
    &.success-badge {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
}